<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body class="m-1 p-1">
@RenderSection("Header")
<div class="bg-info">
    Part of a Layout
</div>

@RenderSection("Body")


<div class="bg-info">
    Part of a Layout
</div>

@if (IsSectionDefined("Footer"))
{
    @RenderSection("Footer")
}
else
{
    <h4> This is default </h4> 
}

@RenderSection("scripts", false)


<div class="bg-info">
    Part of a Layout
</div>
 
</body>
</html>